<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/global.css">
    <title>Money Exchange</title>
</head>
<body>
    <main id="homePage">
        <section class="introduction">
            <h1 class="introduction__title">Money Exchange</h1>
            <p class="introduction__subtitle">Check Live Foreign Currency Exchange Rates</p>
        </section>
        
        <% if (locals.currencies) { %> 
        <form action="/" method="get" id="conversionForm" class="convertForm">
            <div id="amountContainer" class="convertForm__inputs convertForm__amount">
                <label class="convertForm__label" for="amount">Amount</label>
                <span class="convertForm__selectedCurrency" id="currencyCode">EUR</span>
                <input class="convertForm__amountInput" type="text" id="amount" name="amount" value="" required>
            </div>

            <div class="convertForm__inputs">
                <label for="from">From</label>
                    <select id="from" name="from">
                        <% currencies.forEach(currency => { %>
                            <option
                            value="<%= currency.code === "EUR" ? "EUR" : currency.code %>" 
                            <%= currency.code === "EUR" ? "selected" : "" %> >
                                <%= currency.code %>
                                <%= currency.name %>
                            </option>
                        <% }) %>
                    </select>
            </div>
            
            <div class="convertForm__inputs">
                <label for="to">To</label>
                    <select id="to" name="to">
                        <% currencies.forEach(currency => { %>
                            <option 
                            value="<%= currency.code %>" 
                            <%= currency.code === "USD" ? "selected" : "" %> >
                                <%= currency.code %>
                                <%= currency.name %>
                            </option>
                        <% }) %>
                    </select>
            </div>
            
            <div class="convertForm__inputs">
                <button type="submit" id="convert">Convert</button>
            </div>
        </form>

        <form action="/historical" method="post" id="historyForm">
            
            <h3>Explore Rate Changes Over Time (Based on EUR)</h3>

            <div>
                <label for="currencies">Select a currency</label>
                <select id="currencies" name="currencies">
                    <% currencies.forEach(currency => { %>
                        <% if(currency.code !== "EUR") { %>
                        <option
                        value="<%= currency.code %>" 
                        <%= currency.code === "USD" ? "selected" : "" %> >
                        <%= currency.code %>
                        <%= currency.name %>
                        </option>
                    <% } %>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="historical-rates">Choose a date</label>
                <select id="historical-rates" name="historical">
                    <option value="30">Last 30 Days</option>
                    <option value="60">Last 60 Days</option>
                    <option value="90">Last 90 Days</option>
                </select>
            </div>
            
            <div>
                <button type="submit" id="visualize-history">View</button>
            </div>
        </form>
        <% } %>
    </main>
    <script type="module" src="../src/main.js"></script>
</body>
</html>
