<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Exchange</title>
</head>
<body>
    <main id="homePage">
        <section>
            <h1>Money Exchange</h1>
            <p>Check Live Foreign Currency Exchange Rates</p>
        </section>
        
        <% if (locals.currencies) { %> 
        <form action="/" method="get" id="conversionForm">
            <div>
                <label for="amount">Amount</label>
                <input type="text" id="amount" name="amount" value="1.00">
            </div>

            <div>
                <label for="from">From</label>
                    <select id="from" name="from">
                        <% currencies.forEach(currency => { %>
                            <option
                            value="<%= currency.code === "EUR" ? "EUR" : currency.code %>" 
                            <%= currency.code === "EUR" ? "selected" : "" %> >
                                <%= currency.code %>
                                <%= currency.name %>
                            </option>
                        <% }) %>
                    </select>
            </div>
            
            <div>
                <label for="to">To</label>
                    <select id="to" name="to">
                        <% currencies.forEach(currency => { %>
                            <option 
                            value="<%= currency.code %>" 
                            <%= currency.code === "USD" ? "selected" : "" %> >
                                <%= currency.code %>
                                <%= currency.name %>
                            </option>
                        <% }) %>
                    </select>
            </div>


            <div>
                <button type="submit" id="convert">Convert</button>
            </div>
        </form>

        <form action="/historical" method="post" id="historyForm">
            
            <h3>Explore Rate Changes Over Time (Based on EUR)</h3>

            <div>
                <label for="currencies">Select a currency</label>
                <select id="currencies" name="currencies">
                    <% currencies.forEach(currency => { %>
                        <% if(currency.code !== "EUR") { %>
                        <option
                        value="<%= currency.code %>" 
                        <%= currency.code === "USD" ? "selected" : "" %> >
                        <%= currency.code %>
                        <%= currency.name %>
                        </option>
                    <% } %>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="historical-rates">Choose a date</label>
                <select id="historical-rates" name="historical">
                    <option value="30">Last 30 Days</option>
                    <option value="60">Last 60 Days</option>
                    <option value="90">Last 90 Days</option>
                </select>
            </div>
            
            <div>
                <button type="submit" id="visualize-history">Visualize</button>
            </div>
        </form>
        <% } %>
    </main>
    <script type="module" src="../src/main.js"></script>
</body>
</html>
